/* without doller sign / container */
/* .ticker-view {
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  font-size: 56px;
  position: relative;
  background-color: black;
  color: white;
  width: fit-content;
} */


.ticker-container {
  height: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
  font-size: 56px;
  position: relative;
  color: white;
  width: fit-content;
}

.ticker-view{
  display: flex;
  flex-direction: row-reverse;
}