.block {
  display: flex;
  padding: 2px;
  width: 25%;
  flex: 0 0 25%;
  /* Customable */
}

.content {
  width: 100%;
  aspect-ratio: 19/9;
  /* Customable */
  display: grid;
  place-content: center;
  border: 2px solid red;
}
