.block {
  --block-per-screen:4;
  display: flex;
  padding: 2px;
  width: var(--block-per-screen);
  flex: 0 0 calc(100% / var(--block-per-screen));
  /* Customable */
}

.content {
  width: 100%;
  aspect-ratio: 19/9;
  /* Customable */
  display: grid;
  place-content: center;
  border: 2px solid red;
}
