:root{
  --side-width:2rem;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border : 2px solid red;
}

.carousel-list {
  width: calc(100% - 2 * var(--side-width) );
  display: flex;
  /* --slider-index: 0;
  transform: translateX( calc( -100% * var(--slider-index) )); */
  transform: translateX(-0%);
  transition: transform .5s ease-in-out;
}

/* button */
.handler-btn {
  opacity: 0.5;
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
  width: var(--side-width); /* container width is 90% because there is 5% & 5% 2 buttons = 90+5+5=100 */
  z-index: 10;
  cursor: pointer;
  transition: .5s;
  /* display: none; */
  /* Customable */
}
.handler-btn:hover{
  opacity: 1;
  transform: scale(1.2);
}
