.container {
  display: flex;
  /* overflow: hidden; */
  justify-content: center;
}

.carousel-list {
  width: 90%; /* calc 100-margin*/
  display: flex;
  flex-grow: 1;
  transform: translateX(-00%);
  transition: transform 1s ease-in-out;
}


/* button */
.handler-btn{
opacity: .5;    background-color: red;
border: none;
}